#title{
    color:black;
    display: block;
}
#color-palette{
    position: absolute;
    top: 70px;
    display: block;
    width: 80%;
    border: solid 5px black;
}
.color{
    border: solid 1px black;
    display: inline-block; 
    width: 40px;
    height: 40px;
}
#pixel-board{
    position: absolute;
    top: 200px;
    border: solid 1px black;
    line-height: 0px;
}
.pixel{
    border: solid 1px black;
    background-color: white;
    width: 40px;
    height: 40px;
}

.linha{
    display: inline-block;
}

#clear-board{
    position: absolute;
    top: 150px;
    background-color: blanchedalmond;
}