.pixel {
  width: 38px;
  height: 38px;
  background-color: white;
  display: inline-block;
  border: 1px black solid
  
 
}

#pixel-board {
  width: 200px;
  height: 200px;
  font-size: 0px;
  border: 5px solid black;
}

#title{
 text-align: center;
} 
main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
 } 

#color-palette{
  display: flex;
}
.color{
  height: 100px;
  width: 100px;
}

#bk {
  background-color: black;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
}

#r {
  background-color: red;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
}
#b {
  background-color: blue;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
}

#g {
  background-color: green;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
}






li{
  list-style-type: none;
}
