.color {
  height: 100px;
  width: 100px;
  background-color: purple;
  border: 1px solid black;
  display: inline-block;
}

.black {
  background-color: black;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.pixel {
  height: 40px;
  width: 40px;
  border: 1px solid black;
  display: inline-block;
  background-color: white;
}

.pixel1 {
  display: block;
  margin-right: window.screen.width - 40px;
}