* {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

#title {
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

#color-palette {
  display: inline-block;
  text-align: center;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.color {
  display: inline-block;
  border: black solid 1px;
  width: 60px;
  height: 60px;
}

.color:nth-child(1) {
  background-color: black;
}

.color:nth-child(2) {
  background-color: red;
}

.color:nth-child(3) {
  background-color: green;
}

.color:nth-child(4) {
  background-color: blue;
}

#pixel-board {
  display: inline-block;
  text-align: center;
  width: 220px;
  height: 220px;
  border: black solid 1px;
  padding: 10px;
  padding-top: 20px;
  margin-top: 20px;
}

.pixel {
  display: inline-block;
  border: black solid 1px;
  width: 40px;
  height: 40px;
  background-color: white;
  margin-bottom: -4px;
}

button {
  display: flex;
  margin-top: 3%;
  background-color: transparent;
  padding: 10px 20px;
}

button:hover {
  background-color: orange;
}
