body{ 
  background-color: rgb(12, 145, 101);

}

#black{
  background-color: black;
}

#blue{
  background-color: blue;
}


.color{
  border: solid black 1px;
  display: inline-block;
  text-align: center;
  width: 40px;
  height: 40px;
}

#color-palette{
  text-align: center;
}

#green{
  background-color: green;
}

#red{
  background-color: red;
}

.pixel{
  background-color: rgb(255,255,255);
  display: inline-block;
  width: 40px;
  height: 40px;
  border:solid black 1px;
}

#size-changer{
  line-height: 50px;
  text-align: center;
}

#pixel-board{
  margin-top: 50px;
  text-align: center;
  line-height: 0%;
}

#title{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  
}