* {
  margin: 0;
  padding: 0;
}

#title {
  border-bottom: 2px solid teal;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 20px;
  text-align: center;
}

#color-palette {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  padding: 25px;
  text-align: center;
}

#black {
  background-color: black;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#pixel-board {
  display: block;
  max-width: 250px;
  margin-left: auto;
  margin-top: 40px;
  margin-right: auto;
  min-width: 250px;
  text-align: center;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  margin: 2px;
  width: 40px;
}

#btn-div {
  margin-top: 25px;
  text-align: center;
}

#clear-board {
  background-color: teal;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  padding: 10px;
}
