@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');
* {
    font-family: 'Urbanist', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#title {
    text-align: center;
    font-size: 70px;
    letter-spacing: 5px;
    padding: 60px;
    color: rgb(180, 180, 180);
    text-shadow: 0px 5px 10px black;
}

body {
    background-color: rgb(66, 66, 66);
}

#red {
    background-color: rgb(255, 0, 43);
}
#orange {
    background-color: rgb(255, 102, 0);
}
#yellow {
    background-color: rgb(255, 196, 0);
}

#black {
    background-color: black;
}

.color {
    height: 70px;
    width: 70px;
    border: 1px solid black;
    border-radius: 50%;
    display: inline-block;
    margin: 24px;
    box-shadow: 0px 3px 10px black;
}

#color-palette{
    text-align: center;
}

#pixel-board {
    width: auto;
    display: grid;
    grid-template-columns: repeat(5, 40px);
    margin: 20px;
    box-shadow: 0px 3px 10px black;
}

.center-board {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.pixel {
    height: 40px;
    width: 40px;
    margin: 0;
    background-color: white;
    border: solid 1px black;
}

.color:hover, .pixel:hover, button:hover {
    cursor: pointer;
}

.selected {
    box-shadow: 0px 0px 30px greenyellow;
}

button {
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    margin: 28px;
    box-shadow: 0px 3px 10px black;
}

#button-container {
    position: relative;
    text-align: center;
}

footer {
    background-color: rgb(33, 33, 33);
    position: absolute;
    right: 0;
    bottom: 0;
}

footer p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 11px;
    color: rgb(255, 255, 255);
    margin: 5px;
}
