.color {
  display: inline-block;
  border: solid;
  width: 25px;
  height: 25px;
  border-color: black;
  border-width: 1px;
}

#color1 {
  background-color: black;
}

#color2 {
  background-color: red;
}

#color3 {
  background-color: blue;
}

#color4 {
  background-color: yellow;
}

.pixel {
  width: 40px;
  height: 40px;
  border: solid;
  border-color: black;
  border-width: 1px;
  display: inline-block;
  background-color: white;
}

#pixel-board {

}