.header {
  font-family: Nunito, sans-serif;
  font-size: 30px;
  text-align: center;
}

#color-palette {
  width: 100%;
  text-align: center;
}

.color {
  border: 1px solid black;
  display: inline-block;
  padding: 20px;
}

#black {
  background-color: black;
  font-size: 0;
}

#red {
  background-color: red;
  font-size: 0;
}

#yellow {
  background-color: yellow;
  font-size: 0;
}

#blue {
  background-color: blue;
  font-size: 0;
}

main {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

#pixel-board {
  display: inline-block;
  border: 1px solid black;
  width: 232px;
  height: 238px;
}

.pixel {
  margin-top: 2px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  width: 40px;
  height: 40px;
}