.color.black {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: black;
}

.color.red {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: red;
}

.color.blue {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: blue;
}

.color.green {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: green;
}

#pixel-board {
  margin-bottom: 15px;
  margin-top: 15px;
}

.pixel {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: -5px;
  border: 1px solid black;
  background-color: white;
}

.pixels-line {
  margin-bottom: -5px;
}

