* {
    align-items: center;
}
.color {
    display:inline-block;
    border: 1px solid black;
    width: 50px;
    height: 50px;
}
.black {
    background-color: black;
}
.lightblue {
    background-color: lightblue;
}
.red {
    background-color: red;
}
.pink {
    background-color: pink;
}

.pixel {
    display: inline-block;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    background-color: white;
}



