.color {
        width: 80px;
        height: 80px;
        border: black solid 1px;
        margin: 5px;
        display: inline-block;
}

.pixel {
        width: 40px;
        height: 40px;
        border: black solid 1px;
        display: inline-block;
        margin-top: -4px;
        background-color: white;
}

#pixel-board {
        max-width: 250px;
        margin-left: 5px;
}

