* {
  font-family: ubuntu;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(165, 182, 199);
}

h1 {
  margin-top: 10px;
}

main {
  margin: 0 20px;
  padding: 20px;
}

section {
  margin: 15px 0;
}

#color-palette {
  text-align: center;
}

#container-title {
  background-color: rgb(216, 152, 91);
  height: 5em;
  margin-bottom: 10px;
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

#title {
  font-size: 48px;
}

.color {
  border-radius: 75%;
  border: 1px solid black;
  display: inline-block;
  height: 100px;
  margin-right: 5px;
  width: 100px;
}

#pixel-board {
  font-size: 0;
  padding: 0;
  text-align: center;
}

.pixel {
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 40px;
}

.btn-clear {
  text-align: center;
}

#section-tools {
  text-align: center;
}

#board-size {
  border-radius: 20px;
  border: none;
  height: 25px;
  margin: 0 10px;
  text-align: center;
  width: 60px;
}

#clear-board , #generate-board {
  border-radius: 20px;
  border: none;
  font-weight: 700;
  padding: 5px;
  width: 10vw;
}

#clear-board {
  background-color: rgba(0, 128, 0, 0.7);
}

#generate-board {
  background-color: rgba(116, 134, 151, 0.7);
}

#clear-board:hover {
  background-color: rgb(238, 234, 234);
  border: 1px solid rgba(0, 128, 0, 0.7);
  box-shadow: 0 0 5px rgba(0, 128, 0, 0.7);
  color: rgba(0, 128, 0, 0.7);
}

#generate-board:hover {
  background-color: rgb(238, 234, 234);
  border: 1px solid rgba(116, 134, 151, 0.7);
  box-shadow: 0 0 5px rgba(116, 134, 151, 0.7);
  color: rgba(116, 134, 151, 0.7);
}
