* {
  margin: 0;
  padding: 0;
  border: 0;
}

.main {
  width: 100%;
  height: 100%;
}

.color-palette {
  height: 20px;
  width: 20px;
  background-color: violet;
  display: block;
}

.color {
  float: left;
  width: 20px;
  height: 20px;
  border: solid 1px #000;
}

.limpar {
  margin-right: 30px;
  margin-left: 30px;
  width: 70px;
  height: 25px;
  background-color: rgb(99, 96, 96);
}

.borda-size {
  display: inline-block;
  width: 150px;
  height: 25px;
  background-color: rgb(190, 187, 187);
}

.button-input {
  margin-left: 10px;
  width: 70px;
  height: 25px;
  background-color: rgb(99, 96, 96);
}

#pixel-board {
  background-color: rgb(240, 240, 235);
  width: 210px;
  height: 210px;
  margin: 30px;
}

.pixel {
  float: left;
  width: 40px;
  height: 40px;
  background-color: white;
  border: solid 1px #000;
}

.selected {
  background-color: black;
  float: left;
  width: 20px;
  height: 20px;
  border: solid 1px #000;
}
