
 .color{
    border: 1px solid black;
    padding: 25px;
    display: inline-block;
}
 #square1{
    background-color: rgb(0, 0, 11);
}
 #square2{
    background-color: rgb(111, 214, 203);
}
 #square3{
    background-color: rgb(240, 233, 72);
}
  #square4{
    background-color: rgb(67, 0, 245);
}
  #pixel-board{
    width: 210px;
}
.pixel {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: solid black 1px;
 }
