.color {
    border: 1px solid black;
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 10px;
}

.pixel {
    border: 1px solid black;
    height: 40px;
    width: 40px;
    display: inline-block;
    margin: -1px -1px -4px 0;
    background-color:white;
}

button {
height: 30px;

}